after each answer where we add some new feature, we want to run the app to check the feature
once a new feature is added, and confirmed as good to go by me ("This is good, let's proceed"), you will make sure not to disrupt this cappability with any further answers, unless explicitly asked to do so by the user
once something is added and haven't been confirmed as not good by me, you will retain and any further feature mustn't endanger what we already have.
